@model TaskTracking.Models.TaskListModel
@{
    ViewData["Title"] = "Anasayfa";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">İş Takip Sistemi</h1>
           
           
          


            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="container">
                            <h2>Rapor</h2>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Kişi</th>
                                        <th>Aktif İşler</th>
                                        <th>Tamamlanan İşler</th>
                                        <th>Toplam</th>
                                    </tr>
                                </thead>
                                <tbody>

                                  @foreach (var item in Model.Users)
                                    {
                                        <tr data-toggle="collapse" data-target="#ahmet-detay">
                                            <td>@item.First_name @item.Last_name</td>
                                            <td>@item.Is_active</td>
                                            <td>@item.Is_end</td>
                                            <td>@item.Is_sum</td>
                                        </tr>
                                      
                                    }
                                   
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">

                        <div class="container">
                            <h2>Bana Atanan İşler</h2>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>İş</th>
                                        <th>Durumu</th>
                                        <th>Atayan</th>
                                        <th>Son Güncelleme</th>
                                        <th>Detay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TaskList)
                                    {
                                        <tr data-toggle="collapse" >
                                        <td>@item.Title</td>
                                        <td>@if (item.state == true)
                                                {
                                                <td>Aktif</td>
                                                }else
                                                {
                                                <td>Tamamlandı</td>
                                                }</td>
                                        <td>@item.First_name @item.Last_name</td>
                                        <td>@item.Update_on</td>
                                        <td><a href="@Url.Action("Index","Details")" class="btn btn-primary">Göster</a></td>
                                    </tr>
                                    }
                                    
                                   
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card mb-4">

                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="container">
                                <h2> Son Yorumlar</h2>
                                <div class="card mb-3">
                                    @foreach (var item in Model.Comment)
                                    {
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Title</h5>
                                            <p class="card-text">
                                                @item.Comments
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">@item.Create_on</small>
                                            <th> - <a href="#">@item.First_name @item.Last_name</a></th>
                                        </div>
                                    }

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="container">
                                <h2>Tüm İşler</h2>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>İş</th>
                                            <th>Durum</th>
                                            <th>Atayan</th>
                                            <th>Son Güncelleme</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Tasks)
                                        {
                                                   <tr>
                                            <td>@item.Title</td>
                                            @if (item.state == true)
                                            {
                                                <td>Aktif</td>
                                            }
                                            else
                                            {
                                                <td>Tamamlandı</td>
                                            }
                                            <td>@item.First_name  @item.Last_name</td>
                                            <td>@item.Update_on</td>

                                        </tr>
                                        }
                                 
                                        
                                   
                                        
                                    </tbody>
                                </table>


                                <a href="@Url.Action("AllList","Table")" class=" btn btn-primary">Tümünü Göster</a>
                                <br />
                                <br />


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
    </div>