@model TaskTracking.Models.DetayList

@{
    ViewData["Title"] = "Detay";
    
}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Detay</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            



            <div class="row">
                <div class="col-xl-8">
                    <div class="container">
                        <h2>@Model.Title</h2>
                        <p>@Model.Content</p>
                        <hr>
                        <h4>Yorumlar</h4>  
                        @if (Model.CommentItems != null)
                        { @foreach (var item in Model.CommentItems)
                            {
                                 <ul class="list-unstyled">
                            <li class="media">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1"><a href=""> @item.First_name @item.Last_name</a>&nbsp;&nbsp;&nbsp;<small><i>21-04-2023</i></small></h5>
                                   @item.comment
                                </div>
                            </li>
                        </ul>
                            }

                        }
                       
                        <hr>
                        <h4>Yorum Yap</h4>
                      
                        <form>
                            <div class="form-group">
                                <label for="yorum_yazan">Adınız:</label>
                                <br />
                                <input type="text" class="form-control" id="yorum_yazan" name="yorum_yazan" required>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="yorum_metni">Yorumunuz:</label>
                                <br />
                                <textarea class="form-control" id="yorum_metni" name="yorum_metni" rows="3" required></textarea>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-dark">Gönder</button>
                        </form>
                    </div>
                </div>

                <div class="col-xl-4">

                    <div class="container">

                        <div class="card mb-4   ">
                            <div class="card-body">
                                <h5 class="card-title">İş Detayları</h5>
                                @foreach (var item in Model.taskItem)
                                {
                                    <p class="card-text"><strong>İşi Açan : </strong>@item.First_name @item.Last_name</p>
                                    <p class="card-text"><strong>Son güncellenme : </strong>@item.Update_on</p>
                                    <p class="card-text"><strong>İşin açılma tarihi : </strong>@item.Create_on</p>
                                }
                                @foreach (var item in Model.detayUpdate)
                                {
                                    
                                
                                <form asp-action="Index" asp-controller="Details" method="post">  
                                <select class="form-select" aria-label="Default select example">
                                   
                                    <option value="true" selected name="state">Aktif</option>
                                    <option value="false" name="state">Tamamlandı</option>
                                   
                                </select>
                                
                                <br />
                                    <input type="submit" value="Düzenle" />
                                <button type="button" class="btn btn-outline-dark">Başkasına Ata</button>
                                    <button type="submit" class="btn btn-outline-warning">Sil</button>
                                    </form>
                                }

                            </div>
                        </div>


                    </div>


                </div>
            </div>

        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>